# Aiven PostgreSQL
PG_URI=postgresql+asyncpg://user:password@host:port/defaultdb?ssl=require

# Aiven Kafka
KAFKA_BOOTSTRAP_SERVERS=host:port
KAFKA_SSL_CAFILE=./certs/ca.pem
KAFKA_SSL_CERTFILE=./certs/service.cert
KAFKA_SSL_KEYFILE=./certs/service.key

# Aiven Valkey
VALKEY_URI=rediss://default:password@host:port

# App settings
USGS_POLL_INTERVAL_SECONDS=60
LOG_LEVEL=info
